/* 定义全局需要使用的变量或者class */
body {
  --Color: red;
  --menu-bg-rbga: rgba(255, 255, 255, 0.6);
  --menu-font-color: rgba(0, 0, 0, 1);
  --app-color: 0;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* 笔记样式 */
.Notes > div > p,
h2 {
  display: block;
  margin-bottom: 8px;
  margin-top: 8px;
}

/* 
  代码块样式
 */
.codeLangTitle {
  position: sticky;
  width: 80px;
  text-align: right;
  user-select: none;
  height: 15px;
  top: 0px;
  left: calc(100% - 80px);
}
.hljs {
  box-sizing: border-box;
  overflow: auto;
  padding: 0px 10px 15px 10px;
  border-radius: 5px;
  width: 100%;
}
.hljs::-webkit-scrollbar {
  height: 8px;
  width: 12px;
}
/* 滚动槽 */
.hljs::-webkit-scrollbar-track {
  box-shadow: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
/* 滚动条滑块 */
.hljs::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(226, 226, 226, 0.1);
  box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
